@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;
$light-brown: #ca7c4e;
$lightest-brown: #eebe6c;
$pale: #f5e8df;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin fullHeightWidth() {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  @include flexCenter(row);
  height: 100vh;
  width: 100vw;
  background: linear-gradient(left, $lightest-brown 0%, $light-brown 100%);
  color: $brown;
  font-family: "Open Sans", sans-serif;
}

#card {
  @include flexCenter(row);
  height: 400px;
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 30px 10px 15px 0px $brown;
}

#card-left {
  @include flexCenter(column);
  @include fullHeightWidth();
  padding: 20px auto;
}

#avatar {
  margin-top: 20px;
  height: 120px;
  width: 120px;
  border: 3px double $brown;
  border-radius: 100%;
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;
}

#name-title {
  padding: 50px;
  margin-bottom: 20px;
  text-align: center;
  p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    &:first-of-type {
      margin-top: -30px;
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

#buttons {
  @include flexCenter(column);
  margin-top: -30px;
  button {
    padding: 10px;
    width: 150px;
    border: 1px solid $brown;
    border-radius: 5px;
    background: white;
    color: $brown;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s;
    &:first-of-type {
      margin-bottom: 20px;
    }
    &:hover {
      background: $pale;
      cursor: pointer;
    }
  }
}

#card-right {
  @include flexCenter(column);
  height: 100%;
  div {
    @include flexCenter(column);
    @include fullHeightWidth();
    padding: 20px;
    background: $pale;
    transition: all 0.5s;
    &:first-of-type {
      border-top-right-radius: 10px;
      border-bottom: 2px solid white;
    }
    &:nth-of-type(3) {
      border-bottom-right-radius: 10px;
      border-top: 2px solid white;
    }
    &:hover {
      background: #e1cfc2;
      cursor: pointer;
    }
  }
}
