@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;
$light-brown: #ca7c4e;
$lightest-brown: #eebe6c;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin fullHeightWidth() {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  @include flexCenter(row);
  height: 100vh;
  width: 100vw;
  background: linear-gradient(left, $lightest-brown 0%, $light-brown 100%);
  color: $brown;
  font-family: "Open Sans", sans-serif;
}

#card {
  @include flexCenter(row);
  height: 400px;
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 30px 10px 15px 0px $brown;
}

#card-left {
  @include flexCenter(column);
  @include fullHeightWidth();
}

#avatar {
  height: 100px;
  width: 100px;
  border: 1px solid $brown;
  border-radius: 100%;
  background-image: url("../me.jpeg");
  background-size: cover;
  background-position: center;
}

#card-right {
  @include flexCenter(column);
  height: 100%;
  div {
    @include flexCenter(column);
    @include fullHeightWidth();
    padding: 20px;
    background: #f5e8df;
    transition: all 0.5s;
    &:first-of-type {
      border-top-right-radius: 10px;
      border-bottom: 2px solid white;
    }
    &:nth-of-type(3) {
      border-bottom-right-radius: 10px;
      border-top: 2px solid white;
    }
    &:hover {
      background: #e1cfc2;
      cursor: pointer;
    }
  }
}
